<br>
<div fxLayout="row" fxLayoutAlign="space-around center" fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="row">
    <mat-card style="background-color: blue;" fxLayoutGap="300px">
        <mat-card-title>Cliente 1</mat-card-title>
        <mat-card-content>
            Detalles cliente 1
        </mat-card-content>
    </mat-card>
    <mat-card >
        <mat-card-title>Cliente 2</mat-card-title>
        <mat-card-content>
            Detalles cliente 2
        </mat-card-content>
    </mat-card>
    <mat-card >
        <mat-card-title>Cliente 3</mat-card-title>
        <mat-card-content>
            Detalles cliente 3
        </mat-card-content>
    </mat-card>
    <mat-card >
        <mat-card-title>Cliente 1</mat-card-title>
        <mat-card-content>
            Detalles cliente 1
        </mat-card-content>
    </mat-card>

</div>